<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.wcode.mapper.ReciteRecordMapper">
  <resultMap id="BaseResultMap" type="cn.wcode.model.ReciteRecord">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="question_id" jdbcType="INTEGER" property="questionId" />
    <result column="start_date" jdbcType="TIMESTAMP" property="startDate" />
    <result column="last_date" jdbcType="TIMESTAMP" property="lastDate" />
    <result column="level" jdbcType="INTEGER" property="level" />
    <result column="strange" jdbcType="INTEGER" property="strange" />
    <result column="next_date" jdbcType="TIMESTAMP" property="nextDate" />
    <result column="need_recite" jdbcType="INTEGER" property="needRecite" />
  </resultMap>

  <select id="selectTodayTask" resultMap="BaseResultMap">
    select * from recite_record where now() >= next_date and need_recite = 1
  </select>
</mapper>

