<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.wcode.mapper.ReciteRecordMapper">
  <resultMap id="BaseResultMap" type="cn.wcode.model.ReciteRecord">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="group_id" jdbcType="INTEGER" property="groupId" />
    <result column="question_id" jdbcType="INTEGER" property="questionId" />
    <result column="start_date" jdbcType="TIMESTAMP" property="startDate" />
    <result column="last_date" jdbcType="TIMESTAMP" property="lastDate" />
    <result column="level" jdbcType="INTEGER" property="level" />
    <result column="strange" jdbcType="INTEGER" property="strange" />
    <result column="next_date" jdbcType="TIMESTAMP" property="nextDate" />
    <result column="need_recite" jdbcType="INTEGER" property="needRecite" />
  </resultMap>
  <delete id="deleteByGroupId">
    delete from recite_record where user_id = #{userId} and group_id = #{groupId}
  </delete>

  <select id="selectTodayTask" resultType="cn.wcode.dto.ReciteQuestionDto">
    select
    r.id, r.group_id as groupId, r.question_id as questionId, q.question, q.answer, r.level, r.strange
    from recite_record r
    left join question q on q.id = r.question_id
    where now() >= r.next_date and need_recite = 1 and r.group_id = #{groupId} and user_id = #{userId}
  </select>
  <select id="selectCountByUserIdAndGroupId" resultType="java.lang.Integer">
    select count(r.id)
    from recite_record r
    where r.user_id = #{userId} and r.group_id = #{groupId}
  </select>
  <select id="selectHasReciteRecordNum" resultType="java.lang.Integer">
    select count(r.id)
    from recite_record r
    where r.user_id = #{userId} and need_recite = 0 and r.group_id = #{groupId}
  </select>
  <select id="hasAdd" resultType="java.lang.Integer">
    select COUNT(r.id) from recite_record r
    where r.group_id = #{groupId}
  </select>
  <select id="selectUserIdsByGroupId" resultType="java.lang.Integer">
    select DISTINCT user_id from recite_record where group_id = #{groupId}
  </select>
  <select id="selectIdByQuestionId" resultType="java.lang.String">
    select id from recite_record where question_id = #{questionId}
  </select>
</mapper>

