<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.wcode.mapper.UserAuthsMapper">
  <resultMap id="BaseResultMap" type="cn.wcode.model.UserAuths">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="identity" jdbcType="VARCHAR" property="identity" />
    <result column="identity_type" jdbcType="VARCHAR" property="identityType" />
    <result column="credential" jdbcType="VARCHAR" property="credential" />
    <result column="first_party" jdbcType="TINYINT" property="firstParty" />
  </resultMap>

  <select id="selectByPhoneAndPassword" resultMap="BaseResultMap">
    select a.* from user_auths a
    right join user u on u.id = a.user_id and u.phone = #{phone}
    where a.credential = #{password}
  </select>
</mapper>